// Colors
$clr-accent: #fc0;
$clr-white: #fff;
$clr-text-main: #333;
$clr-text-sub: #898f8f;

// Fonts
$ff-main: "Raleway", sans-serif;
$ff-secondary: "Roboto", sans-serif;
$ff-text: "Open Sans", sans-serif;